/* card style  */
.card-style{
    background-color: antiquewhite;
    height: 450px;
    border: 1px solid yellow;
}
.card-style:hover{
    transform: scale(1.03);
}
/* add to cart button style  */
.btn-style{
    padding:3px;
    border-radius: 5px;
    width:100%;
    border:0;
}
/* On screens that are 600px or less */
@media screen and (max-width: 600px) {
    .card-text span,p{
        font-size: 12px;
        font-weight: bold;
        color: black;
    }
   .card-style {
       height: 400px;
   }
   .btn-style {
       padding: 4px;
       border-radius: 5px;
       width: 100%;
       border: 0;
       font-size: 12px;
   }

}